* {
word-wrap:break-word;
}

html,body {
border:0 !important;
}

body {
text-align:center;
}

body,td,input,textarea,select,button {
color:#444;
font:12px/1.6em Verdana,Helvetica,Arial,sans-serif;
}

textarea {
resize:none;
}

body,ul,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset {
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-size:1em;
}

a {
text-decoration:none;
color:#444;
}

em,cite,strong,th {
text-align:left;
font-style:normal;
}

table {
empty-cells:show;
border-collapse:collapse;
}

.txt,.txtarea {
height:20px;
border:1px solid;
background:#FFF;
border-color:#B8BEB4 #D2DACE #D2DACE #B8BEB4;
padding:0 2px;
}

.checkbox,.radio {
width:15px;
margin:0;
}

.pipe {
margin:0 5px;
}

.smalltext {
font-size:0.83em;
font-family:Verdana,Helvetica,Arial,sans-serif;
}

.nodata {
text-align:center;
color:#999;
font-size:16px;
font-weight:700;
margin:99px auto;
}


.s_clear:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

hr {
clear:both;
border:0 solid #D2DACE;
background:transparent;
margin:1em 0;
}

.solidline {
border-top:1px solid #FFF;
border-bottom-width:1px;
}

.dashline {
height:0;
border-bottom-width:1px;
border-style:dashed;
}

.shadowline {
border-bottom-color:#FFF;
border-top-color:#D2DACE;
border-width:1px 0;
margin:2px 0;
}

.side .shadowline {
margin:2px 0;
}
.wrap {
text-align:left;
margin:0 auto;
}

#wrap {
padding-bottom:10px;
min-height:450px;
border:0 solid;
background-color:#FFF;
clear:both;
}

* html #wrap {
height:450px;
}

.wrap,#nav {
width:98%;
}

#header {
min-width:98%;
width:100%;
border-bottom:0 solid;
margin-bottom:0;
}

#header .wrap {
position:relative;
height:128px;
padding:0;
}



.content {
padding:20px 25px;
}

.content h1 {
margin-bottom:10px;
font-size:16px;
font-weight:400;
}

#nav {
text-align:left;
line-height:3em;
border-bottom:1px solid #E8ECE6;
background-color:#F8F8F5;
text-indent:45px;
margin:0 auto;
}

.blocktitle {
margin-bottom:0.5em;
font-size:16px;
font-weight:700;
}


.pages_btns {
line-height:30px;
padding:5px 0 1em;
}

.pages,.pageback {
float:right;
padding:2px 0;
}

.pages a,.pages strong,.pageback a {
float:left;
margin-right:2px;
height:26px;
border:1px solid;
line-height:26px;
overflow:hidden;
padding:0 6px;
}

.pages a,.pageback a {
background-color:#FFF;
color:#099;
border-color:#D2DACE;
}

.pages strong {
background-color:#099;
color:#FFF;
font-weight:700;
border-color:#099;
}

.pages a.prev,.pages a.next {
background-repeat:no-repeat;
}

.pages a.prev {
background-image:url(../img/arrow_left.gif);
background-position:30% 50%;
width:22px;
overflow:hidden;
text-indent:-9999px;
padding:0;
}

.pages a.next {
padding-right:16px;
background-image:url(../img/arrow_right.gif);
background-position:90% 50%;
}

.pageback a {
padding-left:16px;
background:#FFF url(../img/arrow_left.gif) no-repeat 0 50%;
}

.pages a:hover,.pageback a,.pages a.next {
border-color:#099;
}


a.to {
padding-right:1em;
background:url(../img/arrow_right.gif) no-repeat 100% 50%;
}

.feed i {
color:#999;
margin:0 5px;
}

.f_thumb img {
margin-right:4px;
max-width:100px;
max-height:70px;
border:1px solid #D2DACE;
padding:2px;
}

* html .f_thumb img {
width:100px;
height:70px;
}

.feed fieldset {
border:none;
background:url(../img/icon_quote_m_s.gif) no-repeat 0 0;
margin:10px 0;
padding:0 0 0 20px;
}

.feed ins {
display:inline;
background:url(../img/icon_quote_m_e.gif) no-repeat 100% 100%;
line-height:1.6em;
color:#999;
text-decoration:none;
margin:0;
padding:0 20px 0 0;
}

.folder {
width:25px;
text-align:center;
}

td.icon {
width:20px;
text-align:center;
}

.icon .solved {
filter:alpha(opacity=30);
opacity:0.3px;
}

.datatable .subject {
padding:8px 5px;
}

html .threadlist th .attach {
vertical-align:baseline;
}

.headactions .popupmenu_popup a,.headactions .popupmenu_popup strong {
color:#666;
background:none;
white-space:nowrap;
}

.headactions .popupmenu_popup {
overflow:visible;
}

.headactions {
float:right;
line-height:1em;
padding:12px 0 0;
}

.headactions img {
vertical-align:middle;
cursor:pointer;
padding:0 5px;
}

.headactions a {
margin-left:4px;
}

.msgfix {
overflow:hidden;
}

.numbg {
float:right;
text-align:center;
width:35px;
height:2em;
background:url(../../images/default/numbg.gif) no-repeat 0 50%;
color:#FFF;
font-weight:700;
}

.sidebox {
overflow:hidden;
margin:5px 10px 10px;
}

.sidebox h4 {
margin-bottom:4px;
color:#099;
}

.fwin {
overflow-x:hidden;
text-align:left;
margin:0 auto;
}

.t_l,.t_c,.t_r,.m_l,.m_r,.b_l,.b_c,.b_r {
overflow:hidden;
opacity:0.9px;
filter:alpha(opacity=90);
background:#3C3B14;
}

.t_l,.t_r,.b_l,.b_r {
width:8px;
height:8px;
}

.t_c,.b_c {
height:8px;
}

.m_l,.m_r {
width:8px;
}

.m_c {
background:#F8F8F5;
}

.fcontent {
margin:15px;
}

.float_ctrl {
margin-bottom:15px;
height:20px;
line-height:20px;
}

.float_ctrl em {
float:left;
font-size:14px;
font-weight:700;
color:#099;
}

.float_ctrl .needverify {
margin-left:8px;
padding-left:13px;
width:45px;
height:21px;
line-height:21px;
background:url(../../images/default/re_unsolved.gif) no-repeat 0 0;
font-size:12px;
color:#666;
font-weight:400;
}

.float_ctrl .onerror,.float_ctrl .onright {
white-space:nowrap;
height:auto;
line-height:140%;
color:#444;
font-size:12px;
font-weight:400;
}

.float_ctrl span {
float:right;
color:#999;
}

.float_ctrl span a,.float_ctrl strong {
float:left;
text-decoration:none;
margin-left:8px;
font-weight:400;
color:#444;
}

.float_close {
float:left;
width:20px;
height:20px;
overflow:hidden;
text-indent:-9999px;
background:url(../../images/default/newclose.gif) no-repeat 0 0;
}

.floatwrap {
overflow:auto;
overflow-x:hidden;
margin-bottom:10px;
height:280px;
}

.fcontent .list {
width:570px;
border-top:3px solid #D2DACE;
border-bottom:3px solid #D2DACE;
margin:0 auto;
}

.fcontent .list th,.fcontent .list td {
height:auto;
border-bottom:1px dashed #D2DACE;
padding:3px !important;
}

.fcontent .list .btns th,.fcontent .list .btns td {
border-bottom:none;

}

.fcontent .list th {
width:150px;
background:none;
}

.postbox {
clear:both;
}

.moreconf {
margin-top:10px;
}

.moreconf button,.moreconf a {
margin-right:3px;
}

.loginform {
float:left;
margin-bottom:-10px;
width:280px;
border-right:1px solid #D2DACE;
padding:20px 0;
}

.loginform label {
clear:both;
overflow:hidden;
display:block;
line-height:22px;
margin:0 0 10px;
}

.loginform select {
width:175px;
}

.fsubmit {
clear:both;
margin-top:8px;
}

.fsubmit .submit {
margin-right:8px;
}

.loginform label em,.fsubmit em {
float:left;
width:60px;
}

.fsubmit .regpre {
margin-top:4px;
}

.nolabelform .txt {
width:230px;
}

.clause {
overflow:auto;
margin-bottom:10px;
width:470px;
height:240px;
}

.selectinput {
float:none;
width:234px;
height:20px;
background-color:#FFF;
border:1px solid;
border-color:#B8BEB4 #D2DACE #D2DACE #B8BEB4;
margin:0 0 10px;
}

.selectinput a {
float:left;
padding-right:0;
width:61px;
border:none;
}

.selectinput .txt {
float:left;
width:160px;
border:none;
}

.selecttype {
float:none;
clear:both;
margin:10px 0;
}

.selecttype a,.selecttype a:hover,.selecttype a:focus {
padding-right:0;
width:230px;
background-color:transparent;
color:#999 !important;
border-color:#F8F8F5;
}

.loginpsw label {
float:left;
padding-left:4px;
width:61px;
line-height:150%;
}

.capslock {
background:url(../../images/default/capslock.gif) no-repeat 98% 50%;
}

.logininfo {
float:left;
overflow:visible;
margin:87px 25px 10px 40px;
}

.logininfo h4 {
margin-bottom:10px;
font-weight:400;
font-size:14px;
}

.multinfo {
margin-top:53px;
}

.switchnav {
float:left;
white-space:nowrap;
overflow:hidden;
width:480px;
}

.postboardlist {
overflow:hidden;
width:597px;
background:#FFF;
border-color:#D2DACE;
border-style:solid;
border-width:1px 0 1px 1px;
margin:9px 0;
}

.postboardlist li {
float:left;
overflow-x:hidden;
overflow-y:auto;
width:188px;
height:300px;
border-right:1px solid #D2DACE;
padding:5px;
}

.postboardlist p {
height:25px;
line-height:25px;
}

.postboardlist a {
display:block;
white-space:nowrap;
overflow:hidden;
text-decoration:none;
color:#444;
padding:0 4px;
}

.postboardlist a:hover {
text-decoration:none;
background-color:#F8F8F5;
}

.hassubboard {
background:url(../../images/default/arrow_right.gif) right center no-repeat;
}

.pbl_selected a,.pbl_selected a:hover {
background-color:#099;
color:#FFF !important;
font-weight:700;
}

.nofloat {
height:auto !important;
min-height:410px;
background-color:#E8ECE6;
}

.nofloat .fcontent {
width:600px;
margin:15px auto;
}

.nofloat .clause {
width:auto;
height:auto;
}

.fcontent .float_postinfo {
width:568px;
}

.itemtitle {
clear:both;
overflow:hidden;
margin-bottom:10px;
line-height:23px;
}

.itemtitle h1 {
float:left;
margin:0 20px 0 0;
}

.itemtitle li {
float:left;
margin-right:5px;
}

.itemtitle li.pipe {
margin-left:0;
}

.itemtitle ul a {
display:block;
overflow:hidden;
height:23px;
cursor:pointer;
}

.itemtitle ul a span {
display:block;
line-height:22px;
padding:1px 7px 0;
}

.itemtitle ul a:hover {
background:#F5F5F5 url(../../images/default/btn_block.gif) no-repeat 0 -46px;
text-decoration:none;
}

.itemtitle ul a:hover span {
background:url(../../images/default/btn_block.gif) no-repeat 100% -69px;
}

.itemtitle ul a.dropmenu {
padding-right:0;
background-position:0 -161px;
}

.itemtitle ul a.dropmenu span {
padding-right:12px;
background:url(../../images/default/btn_block.gif) no-repeat 100% -138px;
}

.itemtitle ul a.dropmenu:hover {
background-position:0 -46px;
}

.itemtitle ul a.dropmenu:hover span {
background-position:100% -115px;
}

.itemtitle ul .current a,.itemtitle ul .current a:hover,.itemtitle ul .current a.dropmenu:hover {
background:#099 url(../../images/default/btn_block.gif) no-repeat 0 0;
}

.itemtitle ul .current a span,.itemtitle ul .current a:hover span {
background:url(../../images/default/btn_block.gif) no-repeat 100% -23px;
color:#FFF;
}

.itemtitle ul .current a.dropmenu span,.itemtitle ul .current a.dropmenu:hover span {
background-position:100% -92px;
}

html {
background:#C1A57D url(../../templates/greenwall/images/htmlbg.gif);
}

#menu li.current {
opacity:1px;
filter:alpha(opacity=100);
}

.postbtn {
background-image:url(../../templates/greenwall/images/post.gif) !important;
}

.replybtn {
background-image:url(../../templates/greenwall/images/reply.gif) !important;
}

#footer .wrap {
background:#FFF;
}

.ad_text,.ad_footerbanner {
margin:0 auto;
}

#wrap,.ad_text {
border-bottom:1px solid #E8ECE6;
}

input,select,button,#checksecanswer img,#checksecanswer3 img,#checkseccodeverify img,#checkseccodeverify3 img,.warning img,.channelinfo img,.threadlist th .attach {
vertical-align:middle;
}

ul li,.fcontent li {
list-style:none;
}

a:hover,.threadlist .colplural a:hover {
text-decoration:underline;
}

.lightlink,.lightlink a,.select_menu li:hover,.feed a,.threadlist th a:hover,.subject a:hover,.forumnums em,.threadlist th em,.threadlist th em a,.ad_pip a,.postboardlist .highlightlink,.c_header h3 a {
color:#099;
}

a img,.selectinput a:hover,.selectinput a:focus {
border:none;
}

.emfont,#myprompt_menu a.new,.select_menu li.current,.list th h2 em strong {
color:#F60;
}

th,.list th h2 em,.topicadminlog h4 {
font-weight:400;
}

.txtarea,.nofloat .loginform {
height:auto;
}

.lighttxt,.lighttxt a,.pipe,.feed em,.feed em a,.feed .summary,.mainbox .headactions,.float_ctrl span a:hover {
color:#999;
}

.right,.subject label,.special .main,.c_header_action {
float:right;
}

.left,#header h2,.special .side,.itemtitle ul,* html .itemtitle ul a,.float_postinfo input,.pags_act {
float:left;
}

.s_clear,.datalist,* html .c_header {
zoom:1px;
}

#umenu cite,.headermenu_popup .active,.mainbox .headactions strong {
font-weight:700;
}

.promptmenu a:hover,.headermenu_popup a:hover {
text-decoration:none;
color:#099;
}

#uchome_ntc a,.titlemenu_popup li {
margin:0;
}

.mainbox table,.formtable,.ad_text table,.topicadminlow table {
width:100%;
}

.channelinfo .onerror,.channelinfo .onerror,.channelinfo .onright {
background-position:2px 0;
}

.pages a:hover,.pageback a:hover,.itemfilter .current a:hover,.threadlist th a,.float_ctrl em a {
text-decoration:none;
}

.short_select select,.filter_popup li {
width:60px;
}

.datalist th img,.narrowlist th {
vertical-align:top;
}

.datalist .datatable,.feed,.regsec {
margin-bottom:10px;
}

.feed .f_icon,.special {
background:none;
}

.f_thumb,.sideinner .tabs {
margin:5px 0;
}

.itemfilter,* html .smiliesgroup li,* html .imguptype li {
line-height:18px;
}

.headermenu_popup,.topicadminlow .txt {
width:100px;
}

* html .titlemenu_popup a,* html .pc_inner span {
display:inline-block;
}

.dropdownbtn:hover,.float_close:hover {
background-position:0 -20px;
}

.side,.loginform .txt {
width:170px;
}

.with_side .side a,.fcontent a {
color:#099;
text-decoration:underline;
}

.searchfaq h3,.c_header .noarrow {
background:none;
cursor:auto;
}

.c_header .c_header_ctrlbtn,.closenode .c_header_ext {
display:none;
}